body{
	background-color:#F6F5F1;
}

#container{
	position:relative;
	max-width:960px;
	margin:auto;
	padding-bottom: 100px;
}

/******************
* NAV BAR
********************/

#nav_bar{
	position:fixed;
	top:0;
	left:0;
	background-color:#F6F5F1;
	min-width:100%;
}

#logo{
	float:left;
	max-width:250px;
}

#nav_bar ul{
	list-style-type:none;
	float:right;
	padding:0;
	margin:0;
	margin-top:26px;
	margin-right:10%;
	display:block;
	line-height:1;
	zoom:1;
}

#nav_bar ul:after {
	content:" ";
	display:block;
	font-size:0;
	height:0;
	clear:both;
	visibility:hidden;
}

#nav_bar ul li {
	display:inline-block;
	padding:0;
	margin:0;
}

#nav_bar.align-right ul li{
	float:right;
}

#nav_bar.align-center ul{
	text-align:center;
}

#nav_bar ul li a{
	color:#777;
	text-decoration:none;
	display:block;
	padding:15px 25px;
	text-transform:uppercase;
	font-size:14px;
	position:relative;
	-webkit-transition:color .25s;
	-moz-transition:color .25s;
	-ms-transition:color .25s;
	-o-transition:color .25s;
	transition:color .25s;
}

#nav_bar ul li a:hover{
	color:#777;
}

#nav_bar ul li a:hover:before{
	width:100%;
}

#nav_bar ul li a:after{
	content:"";
	display:block;
	position:absolute;
	right:-3px;
	top:19px;
	height:6px;
	width:6px;
	background:#777;
	opacity:.5;
}

#nav_bar ul li a:before{
	content:"";
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	height:3px;
	width:0;
	background:#777;
	-webkit-transition:width .25s;
	-moz-transition:width .25s;
	-ms-transition:width .25s;
	-o-transition:width .25s;
	transition:width .25s;
}

#nav_bar ul li.last > a:after,
#nav_bar ul li:last-child > a:after{
	display:none;
}

#nav_bar ul li.active a {
	color:#777;
}

#nav_bar ul li.active a:before{
	width:100%;
}

#nav_bar.align-right li.last > a:after,
#nav_bar.align-right li:last-child > a:after {
  display: block;
}
#nav_bar.align-right li:first-child a:after {
  display: none;
}

/******************
* MAIN
********************/

#main {
	margin-top:120px;
}

.content h3{
	margin-top:40px;
	text-decoration:underline;
}

.item{
	display:block;
	width:200px;
	margin:40px;
	background-color: rgba(255,255,255,0.6);
	padding-top: 40px;
	padding-bottom: 20px;
}
.item img{
	float:left;
}

.item p {
	display:block;
	float:left;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	margin-bottom: 0;
}

.single-item{
	width:100%;
}

h1{
	margin-top: -10px;
	text-align: center;
	padding-top: 20px;
	font-size:1.4em;
	text-transform:uppercase;
}

/******************
* ABOUT US
********************/

.aboutrow{
	background-color: rgba(255,255,255,0.6);
	padding: 30px;
	height:300px;
}

/******************
* PRODUCT
********************/

.product-large{
	margin-top: 50px;
}

.product-description{
	background-color: rgba(255,255,255,0.5);
	margin-top: 30px;
	padding: 10px;
	width:100%;
}

.price-product{
	display:block;
	clear:both;
	margin-top:-10px;
}

.product-name{
	margin-right:5%;
	float:left;
	display:block;
	margin-top:3px;
}

/******************
* REVIEWS
********************/


.rating{
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating > option:hover:before,
.rating > option:hover ~ option:before {
	content:"\2605";
	position:absolute;
}

.review_item{
	background-color:#C0C048;
	padding:10px;
	margin:10px;
}

.review_item p {
	text-align:center;
}

.form {
	margin-top:40px;
	margin-bottom:20px;
	padding:30px;
	background-color: rgba(255,255,255,0.4);
}




















